



<div class="modal-content">
    <!--<div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        &lt;!&ndash;<h4 class="modal-title" id="myModalLabel">{{ file.name }}</h4>&ndash;&gt;
    </div>-->
    <div class="modal-body">
        <div class="cropArea">
            <img-crop image="file  | ngfDataUrl"
                      result-image-size="'max'"

                      area-min-size="100"
                      result-image="croppedDataUrl"
                      area-type="rectangle"
                      ng-init="croppedDataUrl=''"
                      result-image-format="fileType"
                      allow-crop-resize-on-corners='false'
                      aspect-ratio="0.9"
                      init-max-area="true"
                      chargement="Loading"
            >
            </img-crop>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="ok(croppedDataUrl, file, file.name, invalidFiles)">Save changes</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>