<div class="row transparent">
    <div class="col-md-12">
<main class="<!--auth-main-->"
         ba-panel
         ba-panel-title="Login"
         ba-panel-class="xmedium-panel">
    <div class="auth-block">
        <h1>Sign in to Blur Admin</h1>
        <a href="reg.html" class="auth-link">New to Blur Admin? Sign up!</a>

        <form class="form-horizontal" ng-submit="login()" novalidate>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Email {{ user.username }}</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="Email" ng-model="user.username">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="user.password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default btn-auth" ng-disabled="loginForm.$invalid">Sign in</button>
                    <a href class="forgot-pass">Forgot password?</a>
                </div>
            </div>
        </form>

        <!--<div class="auth-sep"><span><span>or Sign in with one click</span></span></div>

        <div class="al-share-auth">
            <ul class="al-share clearfix">
                <li><i class="socicon socicon-facebook" title="Share on Facebook"></i></li>
                <li><i class="socicon socicon-twitter" title="Share on Twitter"></i></li>
                <li><i class="socicon socicon-google" title="Share on Google Plus"></i></li>
            </ul>
        </div>-->
    </div>
</main>
    </div>
</div>